@model IEnumerable<site.Models.Birim>

@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<p>
    @Html.ActionLink("Ekle", "Create")
</p>

<table class="table">
    <tr>

        <th>
            Birim Kodu
        </th>
        <th>
            Birim Adı
        </th>
        

    </tr>
@foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.BirimKodu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BirimAdi)
    </td>


    <td>
        
        @Html.ActionLink("Güncelle", "Edit", new { id = item.Birim_ID })
        @Html.ActionLink("İncele", "Details", new { id = item.Birim_ID })
        @Html.ActionLink("Sil", "Delete", new { id = item.Birim_ID })


    </td>
</tr>
            }
</table>