@model site.Models.Cari

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="control-label col-md-2">
            Cari Kodu
        </label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.CariKodu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CariKodu, "", new { @class = "text-danger" })
        </div>
        <label class="control-label col-md-2">
            Tanım
        </label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Tanim, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tanim, "", new { @class = "text-danger" })
        </div>
        <label class="control-label col-md-2">
            Ülke
        </label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Ulke, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ulke, "", new { @class = "text-danger" })
        </div>
        <label class="control-label col-md-2">
            Şehir
        </label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Sehir, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Sehir, "", new { @class = "text-danger" })
        </div>
    </div>
    <h5 style="margin-top:10px;color:royalblue">CARİ</h5>
    <hr />
    <div class="form-horizontal">
        <input type="hidden" id="id" />
        <div class="form-group">
            <label class="control-label col-md-2">
                Adres
            </label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">
                İlçe
            </label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Ilce, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ilce, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Telefon Numarası
            </label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">
                Fax Numarası
            </label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">
                E-mail
            </label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">
                Web Adresi
            </label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Web, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Web, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">
                Posta Kodu
            </label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.PostaKodu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostaKodu, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">
                Aktif
            </label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Aktif)
                @Html.ValidationMessageFor(model => model.Aktif, "", new { @class = "text-danger" })
            </div>


        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>      
    
}

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
