@model site.Models.Cari

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<div>
    <h4>Cari</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cari Kodu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CariKodu)
        </dd>

        <dt>
            Müşteri Ünvanı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tanim)
        </dd>

        <dt>
            Adres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            Ülke
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ulke)
        </dd>

        <dt>
            Şehir
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sehir)
        </dd>

        <dt>
            İlçe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilce)
        </dd>

        <dt>
            Telefon Numarası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
           Fax Numarası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
           E-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Web Adresi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Web)
        </dd>

        <dt>
            Posta Kodu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostaKodu)
        </dd>

        <dt>
            Aktif
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aktif)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.Cari_ID }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
