@model IEnumerable<site.Models.Cari>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";



}
<head>

    <link href="~/Content/StyleSheet3.css" rel="stylesheet" />
</head>
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300" rel="stylesheet">


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h2 class="panel-title pull-left" style="margin-left:10px;">
                <strong>Cari İşlemleri</strong>
            </h2>
            <button style="margin-right:10px" class="btn pull-right" >  @Html.ActionLink("Ekle", "Create", "Caris", new { area = "" })</button>
        </div>
    </div>

    <table id="personel">
        <tr>
            <th>
                Cari Kodu
            </th>
            <th>
                Tanım
            </th>
            <th>
                Ülke
            </th>
            <th>
                Şehir
            </th>
            <th>
                İlçe
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CariKodu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tanim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ulke)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sehir)
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.Ilce)
                </td>

                <td>
                 
                        @Html.ActionLink("Güncelle", "Edit", new { id = item.Cari_ID })
                        @Html.ActionLink("İncele", "Details", new { id = item.Cari_ID })

                    
        </td>
            </tr>
        }
    </table>

</div>
 