@model site.Models.Fatura
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#addtolist").click(function () {
            faturaekle();
        });
    });
    function faturaekle() {
        var 
    }
</script>
<h4>FATURA</h4>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Yeni Fatura Ekle</button>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">FATURA</h4>

            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.FaturaSeriNo)
                        @Html.TextBoxFor(model => model.FaturaSeriNo, htmlAttributes: new { @class = "from-control", @id = "txtseri" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.FaturaSiraNo)
                        @Html.TextBoxFor(model => model.FaturaSiraNo, htmlAttributes: new { @class = "from-control", @id = "txtsira" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Cari_ID)
                        @Html.DropDownListFor(model => model.Cari_ID,Model.ListOfCari, htmlAttributes: new { @class = "from-control", @id = "ddcari" })
                    </div>
                    <fieldset>
                        <legend>Fatura İşlemleri</legend>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.FaturaSatirlari.Fiyat)
                            @Html.TextBoxFor(model => model.FaturaSatirlari.Fiyat, htmlAttributes: new { @class = "form-control", @id = "txtfiyat", style = "text-align:right" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.FaturaSatirlari.Miktar)
                            @Html.TextBoxFor(model => model.FaturaSatirlari.Miktar, htmlAttributes: new { @class = "form-control", @id = "txtmiktar" , style = "text-align:right" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Birim_ID)
                            @Html.DropDownListFor(model => model.Birim_ID, Model.ListOfBirim,htmlAttributes: new { @class = "form-control", @id = "ddbirim" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.FaturaSatirlari.KDV)
                            @Html.TextBoxFor(model => model.FaturaSatirlari.KDV, htmlAttributes: new { @class = "form-control", @id = "txtkdv",  style="text-align:right"})
                        </div>
                        <div class="form-group">
                            <input id="addtolist" type="button" name="addtolist" value="Listeye Ekle" class="btn btn-danger"/>

                        </div>
                        <table class="table table-condensed" style="width:100%" id="tablofatura">
                            <thead>
                                <tr>
                                    <th>
                                        Fiyat
                                    </th>
                                    <th>
                                        Miktar
                                    </th>
                                    <th>
                                        Birim
                                    </th>
                                    <th>
                                        KDV
                                    </th>
                                    <th>
                                        Tutar
                                    </th>
                                </tr>
                             </thead>
                        </table>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Kaydet</button>&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>