
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["username"] == null)
                {

                    @Html.ActionLink("ESBİ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                }
                else
                {
                    @Html.ActionLink("ESBİ", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })


                }
            </div>
            <div class="navbar-collapse collapse navbar-right">
                @if (Session["username"] == null)
                {
                    @Html.ActionLink("Kayıt Ol", "Create", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Giriş Yap", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })

                }
                else
                {
                    @Html.ActionLink("Çıkış Yap", "Logout", "Kullanici", new { area = "" }, new { @class = "navbar-brand" })

                }

            </div>
        </div>

    </div>

    <div class="form-horizontal">
        
            <div class="container">
                <div class="navbar-nav">


                 
                    <button class="button" >  @Html.ActionLink("CARİ", "Index", "Cari", new { area = "" }, new { @class = "navbar-brand" })</button>
                    <button class="button">   @Html.ActionLink("STOKLAR", "Index", "Stok", new { area = "" }, new { @class = "navbar-brand" })</button>
                    <button class="button">@Html.ActionLink("FATURALAR", "Index", "Fatura", new { area = "" }, new { @class = "navbar-brand" })</button>
                    <button class="button"> @Html.ActionLink("MALZEMELER", "Index", "Malzeme", new { area = "" }, new { @class = "navbar-brand" })</button>
                    <button class="button">  @Html.ActionLink("KULLANICI", "Profil", "Kullanici", new { area = "" }, new { @class = "navbar-brand" })</button>


                </div>

                </div>


            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Benim Projem</p>
                </footer>
            </div>

            <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>

            @RenderSection("scripts", required: false)
</body>
</html>