@model site.Models.Kullanici
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/StyleSheet3.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300" rel="stylesheet">

<h2 class="text-center text-info">@Session["username"].ToString();</h2>
    <div class="modal-content">

        <form id="NewOrderForm">
            <div class="modal-body">

                @Html.DisplayFor(model => model.Yetkilendirme.YetkiAdi)
    <hr />
                <div class="form-horizontal">

                    <table id="detailsTable" class="table">

                        <thead>

                            <tr>
                                <th style="width:30%">İsim</th>
                                <th style="width:20%">Soy İsim</th>
                                <th style="width:25%">Şifre</th>


                            </tr>
                            <tr>

                                <td>@Html.DisplayFor(model => model.Isim)</td>

                                <td>@Html.DisplayFor(model => model.SoyIsim)</td>

                                <td>@Html.DisplayFor(model => model.Sifre)</td>
                            </tr>

                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </form>

    </div>
    <p>
        @Html.ActionLink("Güncelle", "Edit", new { id = Model.Kullanici_ID }) |
        @Html.ActionLink("Geri Dön", "Index", "Home") |
        @Html.ActionLink("Kayıt Ol", "Create", "Home")
    </p>
