@model site.Models.Kullanici
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-info">@Session["username"].ToString();</h2>

<div>
    @Html.DisplayFor(model => model.Yetkilendirme.YetkiAdi)
    <hr />
    <dl class="dl-horizontal">


        <dt>
            İsim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isim)
        </dd>

        <dt>
            Soyİsim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoyIsim)
        </dd>


        <dt>
            Şifre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.Kullanici_ID }) |
    @Html.ActionLink("Geri Dön", "Index","Home")
</p>
