@model site.Models.Kullanici
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/StyleSheet2.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box">
        <h1 align="center">Kullanıcı Girişi</h1>
        <form role="form" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div id="b">Kullanıcı Adı</div>
            <label>
                @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
            </label>

            <div id="b">Şifre</div>

            <table>
                @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
            </table>

            <input type="submit" value="Giriş Yap" />







        </form>
    </div>

    <div>
        @Html.ActionLink("Geri Dön", "Index")
    </div>
}



