@model IEnumerable<site.Models.Malzemeler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Content/StyleSheet3.css" rel="stylesheet" />

<p>
    @Html.ActionLink("Ekle", "Create")
</p>

<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300" rel="stylesheet">

<table id="personel">
    <tr>
        <th>
            Malzeme Kodu
        </th>
        <th>
            Malzeme Adı
        </th>
        <th>
            Özel Kod
        </th>

        <th>
            Birim
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MalzemeKodu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MalzemeAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OzelKod)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Birim.BirimKodu)
            </td>


            <td class="context-menu">
                @Html.ActionLink("Güncelle", "Edit", new { id = item.Malzeme_ID }) |
                @Html.ActionLink("İncele", "Details", new { id = item.Malzeme_ID }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.Malzeme_ID })
            </td>

        </tr>
    }

</table>
<script src="http://code.jquery.com/jquery-latest.js"></script>



