@model IEnumerable<site.Models.Malzemeler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Malzeme Kodu
        </th>
        <th>
            Malzeme Adı
        </th>
        <th>
            Özel Kod
        </th>

        <th>
            Birim
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MalzemeKodu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MalzemeAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OzelKod)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Birim.BirimKodu)
            </td>


            <td class="context-menu">
                @Html.ActionLink("Güncelle", "Edit", new { id = item.Malzeme_ID }) |
                @Html.ActionLink("İncele", "Details", new { id = item.Malzeme_ID }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.Malzeme_ID })
            </td>

        </tr>
    }

</table>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

    })

    $(document).bind("contextmenu", function (e) {

        $(".contextmenu").css({

            top: e.pageY, // .pageY : Mouse'un tıklandığı Y koordinatı

            left: e.pageX, // .pageX : Mouse'un tıklandığı X koordinatı

            display: "block" // Menümüzü görünür hale getiriyoruz (isterseniz burada fadeIn, slideDown gibi olaylarda kullanabilirsiniz. Eğlenmek size kalmış :) )

        })

        return false; // Kullanılan browser'ın kendi menüsünü pasif duruma getiriyoruz. Yani false değeri döndürerek bu işlevi engelliyoruz.

    });

    $(document).click(function () {

        $(".contextmenu").hide(); // Dökümanın herhangi bir yerine tıklandığında menü kaybolsun.

    })

</script>

