@model IEnumerable<site.Models.Malzemeler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MalzemeKodu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MalzemeAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OzelKod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuzenlemeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birim.BirimKodu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaturaSatirlari.Iptal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MalzemeKodu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MalzemeAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OzelKod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OlusturmaTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuzenlemeTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birim.BirimKodu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaturaSatirlari.Iptal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Malzeme_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Malzeme_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Malzeme_ID })
        </td>
    </tr>
}

</table>
