@model site.Models.Fatura

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Fatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fatura Seri Numarası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaturaSeriNo)
        </dd>

        <dt>
            Fatura Sıra Numarası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaturaSiraNo)
        </dd>

        <dt>
            Saat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saat)
        </dd>

        <dt>
            Tarih
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            Tutar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutar)
        </dd>

        <dt>
            Birim Kodu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birim.BirimKodu)
        </dd>

        <dt>
            Cari Kodu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cari.CariKodu)
        </dd>

        <dt>
            Miktar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaturaSatirlari.Miktar)
        </dd>

        <dt>
            Fiyat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaturaSatirlari.Fiyat)
        </dd>
        <dt>
            KDV
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaturaSatirlari.KDV)
        </dd>

        <dt>
            Birim Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birim.BirimAdi)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
