@model site.Models.Fatura

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div>
    <h4>Fatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fatura Seri No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaturaSeriNo)
        </dd>

        <dt>
            Fatura Sıra No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaturaSiraNo)
        </dd>



        <dt>
            Tarih
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            Tutar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutar)
        </dd>

        <dt>
            Miktar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaturaSatirlari.Miktar)
        </dd>

        <dt>
            Fiyat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaturaSatirlari.Fiyat)
        </dd>

        <dt>
            KDV
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaturaSatirlari.KDV)
        </dd>
        <dt>
            Birim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birim.BirimAdi)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.Fatura_ID }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
