@model IEnumerable<site.Models.Fatura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TRCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FisNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.İptal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToplamKDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toplam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici.KullaniciAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TRCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FisNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.İptal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToplamKDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toplam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici.KullaniciAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Fatura_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Fatura_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Fatura_ID })
        </td>
    </tr>
}

</table>
